* {
    margin: 0;
    padding: 0;
}

body {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

/* Стили для баннера */
.banner {
    overflow: hidden; /* Убираем возможные артефакты при масштабировании */
    text-align: center;
}

.banner-image {
    width: 100%; /* Растягиваем изображение на всю ширину */
    height: auto; /* Сохраняем пропорции */
    display: block; /* Убираем лишний отступ под изображением */
}

.event {
    display: grid;
    grid-template-columns: 0.5fr 17px repeat(3, 1fr);
    grid-template-rows: 17px repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 20px;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1 / 1 / 2 / 2;
    color: #0063af;;
}

.name {
    display: flex;
    align-items: center;
    grid-area: 1 / 3 / 2 / 6;
    padding-left: 40px;
    margin-bottom: 10px;
}

.circle {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    grid-area: 2 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
}

.description {
    grid-area: 2 / 3 / 4 / 6;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-style: italic;
}

.empty {
    grid-area: 3 / 1 / 4 / 2;
}

.vertical_line {
    width: 2px;
    height: 100%;
    background-color: #0063af;
}

.circle_blue {
    width: 80%;
    height: 80%;
    background-color: #0063af;
    border-radius: 50%;
}

section > h3 {
    color: #d95733;
}

.description > p {
    margin-bottom: 20px;
}

.DATE_SECTION {
    max-width: 80%;
    min-width: 200px;
    margin: auto;
}

main {
    margin-top: 50px;
    flex-wrap: wrap;
}

.DATE_SECTION > h3 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.TITLE {
    max-width: 80%;
    min-width: 200px;
    margin: auto;
    padding-left: 0;
}

.register-button {
    background-color: #d95733;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.sign {
    width: 300px;
    margin-left: 10px;
}

.forum-desc {
    max-width: 80%;
    min-width: 200px;
    padding-left: 0;
    text-align: justify;
    margin: 40px auto;
}

footer {
    background-color: #234086;
    width: 100%;
    height: 20px;
    padding: 10px;
    color: white;
    text-align: right;
    display: flex;
    justify-content: center;
}

ul {
    padding-left: 15px;
}

@media (max-width: 600px) {
    .forum-desc {
        font-size: 17px;
    }

    .time {
        font-size: 17px;
    }

    .name {
        font-size: 17px;
    }

    .description {
        font-size: 15px;
    }

    .description > p > i {
        font-size: 11px;
    }

    .long {
        margin-top: 20px;
    }

    .mid {
        margin-top: 10px;
    }

    .min{
        margin-top: -10px;
    }

    .register-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .sign {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .TITLE {
        text-align: center;
    }
}

/* Медиа-запрос для средних экранов */
@media (min-width: 601px) and (max-width: 1024px) {
    .forum-desc {
        font-size: 20px;
    }

    .time {
        font-size: 20px;
    }

    .name {
        font-size: 20px;
    }

    .description {
        font-size: 17px;
    }

    .description > p > i {
        font-size: 13px;
    }
}

/* Медиа-запрос для больших экранов */
@media (min-width: 1025px) {
    .forum-desc {
        font-size: 24px;
    }

    .time {
        font-size: 24px;
    }

    .name {
        font-size: 24px;
    }

    .description {
        font-size: 19px;
    }

    .description > p > i {
        font-size: 15px;
    }
}